@import '../../node_modules/magnific-popup/dist/magnific-popup.css';
@import '../../node_modules/rateyo/src/jquery.rateyo.css';
@import '../../node_modules/ion-rangeslider/css/ion.rangeSlider.css';
@import '../../node_modules/jquery-form-styler/dist/jquery.formstyler.css';
@import '../../node_modules/jquery-form-styler/dist/jquery.formstyler.theme.css';
.menu__list-link {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
}

.footer-bottom__accept, .menu__list-link--active, .menu__list-link:hover, a, body {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}

.footer-top__title, .footer-top__form-btn {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

.title {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

.footer-top__form-btn {
  background-color: #fe3e57;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 26px;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  cursor: pointer;
}

@font-face {
  font-family: "Quicksand-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Quicksand-Medium"), url(../fonts/Quicksand-Medium.woff2) format("woff2"), url(../fonts/Quicksand-Medium.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Quicksand-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand-Regular"), url(../fonts/Quicksand-Regular.woff2) format("woff2"), url(../fonts/Quicksand-Regular.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"), url(../fonts/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto-Regular.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto-Bold"), url(../fonts/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto-Bold.woff) format("woff");
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html, body {
  height: 100%;
}

body {
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: #29282d;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;
}
.breadcrumbs::before {
  content: "";
  position: absolute;
  background-image: url(../images/icon/home-icon.svg);
  width: 16px;
  height: 16px;
  left: 0;
  top: 4px;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item {
  color: #727272;
  padding-right: 40px;
  position: relative;
}
.breadcrumbs__item::after {
  content: "";
  position: absolute;
  background-image: url(../images/icon/angle-right.svg);
  width: 9px;
  height: 10px;
  right: 15px;
  top: 10px;
}
.breadcrumbs__item:last-child {
  color: #fe3e57;
}
.breadcrumbs__item:last-child::after {
  background-image: none;
}
.breadcrumbs__link {
  color: inherit;
}

.header--404-page {
  background-color: #f6f6f6;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.pagination .pagination__list {
  display: flex;
  padding: 0 35px;
}
.pagination__item {
  padding: 0 15px;
}
.pagination__link--active {
  color: #fe3e57;
}
.pagination__arrows {
  text-transform: uppercase;
  position: relative;
}
.pagination__arrows::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  top: 8px;
}
.pagination__prev {
  padding-left: 15px;
}
.pagination__prev::before {
  background-image: url(../images/icon/angle_left.svg);
  left: 0;
}
.pagination__next {
  padding-right: 15px;
}
.pagination__next::before {
  background-image: url(../images/icon/angle_right.svg);
  right: 0;
}

.header {
  padding: 40px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu__btn {
  display: none;
}
.menu__list {
  display: flex;
}
.menu__list-item + .menu__list-item {
  padding-left: 15px;
}
.menu__list-link {
  color: #29282d;
  padding-bottom: 1px;
  transition: all 0.3s;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__list-link:hover {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}
.menu__list-link--active {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}

.user-nav {
  display: flex;
}
.user-nav__link {
  position: relative;
}
.user-nav__link + .user-nav__link {
  padding-left: 25px;
}
.user-nav__num {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fe3e57;
  top: -9px;
  right: -14px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

@media (max-width: 1200px) {
  .header__inner {
    padding-right: 10px;
  }
}
@media (max-width: 860px) {
  .menu {
    order: 1;
    margin-left: 40px;
  }
  .menu__list {
    transform: translateY(-200%);
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    transition: all 0.3s;
    background-color: #fff;
  }
  .menu__list.menu__list--active {
    transform: translateY(0%);
    transition: all 0.3s;
  }
  .menu__list-item + .menu__list-item {
    padding-left: 0;
  }
  .menu__list-item {
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }
  .menu__list-link {
    padding: 12px 0;
    display: block;
  }
  .menu__btn {
    background-color: transparent;
    width: 30px;
    height: 22px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
  }
  .menu__btn span {
    content: "";
    position: absolute;
    background-color: #29282d;
    width: 100%;
    height: 3px;
  }
  .menu__btn::before, .menu__btn::after {
    content: "";
    position: absolute;
    background-color: #29282d;
    width: 100%;
    height: 3px;
  }
  .menu__btn::before {
    top: 0;
  }
  .menu__btn::after {
    bottom: 0;
  }
  .user-nav {
    margin-left: auto;
  }
}
@media (max-width: 500px) {
  .header__inner {
    padding-right: none;
  }
  .menu {
    order: 0;
  }
  .menu__list {
    top: 140px;
  }
  .user-nav {
    width: 100%;
    justify-content: flex-end;
    margin-top: 35px;
    padding-right: 15px;
  }
}
footer {
  background-color: #f6f6f6;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
}
.footer-top__contact {
  min-width: 250px;
  margin-right: 50px;
}
.footer-top__nav {
  min-width: 170px;
  margin-right: 30px;
}
.footer-top__form {
  max-width: 470px;
}
.footer-top__logo {
  margin-bottom: 33px;
  display: block;
}
.footer-top__adress, .footer-top__email, .footer-top__phone {
  display: block;
  margin-bottom: 14px;
}
.footer-top__social-list {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.footer-top__social-item + .footer-top__social-item {
  padding-left: 18px;
}
.footer-top__social-link {
  transform: all 0.3s;
}
.footer-top__social-link path {
  fill: #8d8d8d;
}
.footer-top__social-link:hover path {
  fill: #fe3e57;
}
.footer-top__title {
  color: #29282d;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1;
}
.footer-top__text {
  margin-bottom: 25px;
}
.footer-top__link {
  margin-bottom: 10px;
  display: block;
}
.footer-top__form-input {
  background-color: #fff;
  max-width: 320px;
  width: 100%;
  border: none;
  padding: 12px 10px 12px 15px;
  box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
}
.footer-top__form-input::-moz-placeholder {
  color: #8d8d8d;
  font-size: 16px;
}
.footer-top__form-input::placeholder {
  color: #8d8d8d;
  font-size: 16px;
}
.footer-top__form-btn {
  border: none;
  cursor: pointer;
}

.footer-bottom {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
}
.footer-bottom__accept {
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
}
.footer-bottom__accept-img {
  display: inline;
  margin-left: 25px;
  vertical-align: middle;
}

@media (max-width: 1050px) {
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-top__item-form {
    margin-top: 30px;
  }
}
@media (max-width: 860px) {
  .footer-top__contact {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 620px) {
  .footer-bottom {
    justify-content: center;
  }
  .footer-bottom__copy {
    width: 100%;
    text-align: center;
  }
  .footer-bottom__accept-img {
    margin-left: 15px;
  }
}
@media (max-width: 450px) {
  .footer-top__nav {
    margin-top: 30px;
  }
  .footer-top__form {
    flex-wrap: wrap;
  }
  .footer-top__form-input {
    max-width: 100%;
    margin-right: 0;
  }
  .footer-top__form-btn {
    width: 100%;
  }
}
.top__container {
  max-width: 1700px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 120px 0 130px;
  text-align: center;
}/*# sourceMappingURL=shop.css.map */