<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/contacts.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
      {% include 'app/module/header/header.html' %}


  <main class="main">
          {% include 'app/module/top/top.html' %}



<section class="map">
  <div class="container">
        <div id="map"></div>

  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="contact__inner">
      <div class="contact__info">
        <h3 class="contact__info-title">Feel Free Don’t
        Hesitate To
        Contact With Us</h3>
        <p class="contact__info-text">
          Lorem ipsum dolor sit amet, consectetur adingn elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Quis ipsum suspendisse ultrices gravida. Risus commodo maecnaacnrao cumsan lacus vel facilisis.
        </p>
        <ul class="contact__info-list">
          <li class="contact__info-item">
            <a class="contact__info-tel" href="tel:+0-123-456-7896">+0-123-456-7896</a>
            <a class="contact__info-tel" href="tel:+0-123-456-7896">+0-123-456-7896</a>
        </li>
        <li class="contact__info-item  contact__info-item--loc">Ranlon Market 789 Road,
        Market Street, Newyork</li>
        <li class="contact__info-item contact__info-item--mail">
          <div>yourmailaddress@gmail.com
          </div>
          <div>companymail@gmail.com</div>
        </li>
        </ul>
      </div>
      <form  class="contact__form">
        <p class="contact__form-title">Contact Form</p>
        <div class="contact__form-box">
          <input class="contact__form-input" type="text"  placeholder="Your Name">
          <input class="contact__form-input" type="text" placeholder="Your E-mail Address">
        </div>
        <input class="contact__form-input" type="text" placeholder="Subject">
        <textarea class="contact__form-textarea" placeholder="Message here"></textarea>
        <button class="contact__form-btn" type="submit" >SEND MESSAGE</button>
      </form> 
    </div>
  </div>
</section>

  </main>  

    {% include 'app/module/footer/footer.html' %}

  
  <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
      ({ key: "", v: "weekly" });</script>
      <script>
       let map;

        async function initMap() {
          const { Map } = await google.maps.importLibrary("maps");

          map = new Map(document.getElementById("map"), {
            center: { lat: 40.71863991589917 ,lng: - 74.0168993294262 },
            zoom: 9,
            styles: [
              {
                "featureType": "all",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "visibility": "simplified"
                  }
                ]
              },
              {
                "featureType": "administrative",
                "elementType": "all",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "administrative",
                "elementType": "labels",
                "stylers": [
                  {
                    "visibility": "simplified"
                  },
                  {
                    "color": "#a31645"
                  }
                ]
              },
              {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                  {
                    "weight": "3.79"
                  },
                  {
                    "visibility": "on"
                  },
                  {
                    "color": "#ffecf0"
                  }
                ]
              },
              {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                  {
                    "visibility": "on"
                  }
                ]
              },
              {
                "featureType": "landscape",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "visibility": "on"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                  {
                    "visibility": "simplified"
                  },
                  {
                    "color": "#a31645"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                  {
                    "saturation": "0"
                  },
                  {
                    "lightness": "0"
                  },
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi.business",
                "elementType": "all",
                "stylers": [
                  {
                    "visibility": "simplified"
                  },
                  {
                    "color": "#d89ca8"
                  }
                ]
              },
              {
                "featureType": "poi.business",
                "elementType": "geometry",
                "stylers": [
                  {
                    "visibility": "on"
                  }
                ]
              },
              {
                "featureType": "poi.business",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                    "visibility": "on"
                  },
                  {
                    "saturation": "0"
                  }
                ]
              },
              {
                "featureType": "poi.business",
                "elementType": "labels",
                "stylers": [
                  {
                    "color": "#a31645"
                  }
                ]
              },
              {
                "featureType": "poi.business",
                "elementType": "labels.icon",
                "stylers": [
                  {
                    "visibility": "simplified"
                  },
                  {
                    "lightness": "84"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                  {
                    "saturation": -100
                  },
                  {
                    "lightness": 45
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                  {
                    "visibility": "simplified"
                  }
                ]
              },
              {
                "featureType": "road.arterial",
                "elementType": "labels.icon",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                  {
                    "color": "#d89ca8"
                  },
                  {
                    "visibility": "on"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                    "visibility": "on"
                  },
                  {
                    "color": "#fedce3"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "labels",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              }
            ]
          });
        }

        initMap();
</script>
  <script src="js/main.min.js"></script>
</body>
</html>